@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.cart-dropdown {
  @extend %columnflex;
  @include mixins.setwidthandheight(240px, 340px);
  position: absolute;
  padding: 20px;
  border: 1px solid vars.$secondarycolor;
  background-color: vars.$primarycolor;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    @extend %columnflex;
    height: 240px;
    overflow-y: auto;
  }

  button {
    margin-top: auto;
  }
}
