@use 'styles/common';

.signinsignup-container {
  @extend %rowflex;
  @extend %centercontent;

  .signinsignup {
    @extend %columnflex;
    width: 70%;

    .title {
      margin: 10px 0;
    }

    .buttons {
      @extend %rowflex;
      justify-content: space-around;
    }
  }
}
