@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.spinner-overlay {
  @extend %fullwidth;
  @extend %rowflex;
  @extend %centeredalignwithjustify;
  height: 60vh;

  .spinner {
    @include mixins.setwidthandheight(50px, 50px);
    display: inline-block;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
