@use 'styles/common';
@use 'styles/mixins' as mixins;

$sharedsize: 70px;

.header {
  @extend %rowflex;
  @extend %fullwidth;
  height: $sharedsize;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    @extend %fullheight;
    width: $sharedsize;

    .logo {
      @include mixins.setwidthandheight($sharedsize, $sharedsize);
    }
  }

  .options-container {
    @extend %fullheight;
    @extend %rowflex;
    @extend %centeritems;
    width: 50%;
    justify-content: flex-end;

    .option {
      @extend %pointer;
      margin: 10px 15px;
    }
  }
}
