@use 'styles/common';

.cart-item {
  @extend %fullwidth;
  @extend %rowflex;
  height: 60px;
  margin-bottom: 15px;

  img {
    width: 40%;
  }

  .item-details {
    @extend %columnflex;
    @extend %centercontent;
    width: 60%;
    align-items: flex-start;
    padding: 10px 20px;

    .name {
      font-size: 16px;
    }
  }
}
